body {
  padding-bottom: 40px;
  background-color: #eee;
}

#logo{
  width:200px;
  height:100px;
  display:inline-block;
}
#perfil{
  display:inline-block;
  float:right;
  width: 400px;
  height:100px;
}
